/* .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: green;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    animation: spinner 0.8s linear infinite;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  } */