.custom-drop-zone1 {
    width: 500px;
    height: 75px; /* Adjust the height as needed */
    border: 2px dashed #ccc;
    padding: 20px;
    box-sizing: border-box;
}
/* This is for Training Box */
.custom-drop-zone2 {
    width: 75px;
    height: 40px; /* Adjust the height as needed */
    /* border: 2px dashed #ccc; */
    padding: 20px;
    vertical-align: middle;
    box-sizing: border-box;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

body {
  padding: 20px;
}